---
layout: default
title: About
section_id: about
skills:
  - title: 文书制作
    percentage: 100
  - title: 套词
    percentage: 80
  - title: 申请
    percentage: 100
  - title: 选校与导师
    percentage: 80
testimonials:
  - quote: 专业的PhD就是不一样，对申请结果非常满意。虽然不知道过去了以后是个什么状况，不过好像心里有点点底了，只能对自己说，多努力一点吧。
    author: 陈同学
  - quote: 文书很棒！明确地提炼出我的优势，并加以适当提升，帮助我拿到了理想的录取。 更重要的是，我是转专业申请的！
    author: 何同学
  - quote: 感谢UA大神帮我写的PS，连教授也说好，感觉申请过程中麻烦的主要就是PS了！
    author: 缪同学
  - quote: 回答的东西都很有信息量，对长远规划可以提出自己没考虑过的但是很重要的角度，这点很难得。也许经历过了才会好一点吧，不管怎样，合作愉快~怎么走下去还是要看自己，好好加油！
    author: 李同学
  - quote: 水平很高，本渣没有什么学术背景，他们问的很多研究经历都没有，但是还是按照我的情况做了一份漂亮的CV，还是挺满意的。
    author: 张同学
  - quote: 改后的SP和之前的比完全不一样了，去掉了冗赘的内容和对申请无益的信息，相关的例子经过重新组织语言也更加生动流畅，文章整体的逻辑结构打散重构之后，能更加突出意图。
    author: 尹同学
---

<div class='full parallax' style='background-image: url(images/@stock/about-us.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="关于我们" color="#fff" tagline="我们的故事" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>我们的故事</h3>
      <p>北美博士帮帮忙的导师都是全程DIY申请留学的留学生，并且现在在北美各个TOP大学就读PhD或者已经PhD毕业，通晓申请策略，拥有套磁渠道。他们都有丰富的文书修改经验以及深厚的学术功底，不仅能解决您在申请过程中遇到的困难，还能对您的专业发展方向的迷茫进行经验指导，对您以后的学术难题进行辅导答疑。</p>
      <p>选择我们，您将拥有一个自己学术专业的学霸PhD人脉。能对您生活，学习以及今后的就业方向进行方方面面的指导。在这里，您将不再迷茫。</p>
    </div>
    <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class='full'>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <p class='centered-text'>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our clients say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include our-customers.html %}