---
layout: default
section_id: home
slides:
  - bg: images/@stock/slide-1.jpg
    small_title:
      klass: bottom-to-top
      text: 一个Offer
    title:
      klass: bottom-to-top
      text: 一个未来
    buttons:
      klass: bottom-to-top
      items:
        - text: 认识我们
          link_to: about.html
  - bg: images/@stock/slide-1.jpg
    small_title:
      klass: bottom-to-top
      text: 最靠谱的团队
    title:
      klass: bottom-to-top
      text: 最负责任的申请
    buttons:
      klass: bottom-to-top
      items:
        - text: 服务特色
          link_to: services.html
		- text: 关于我们
          link_to: about.html
  - bg: images/@stock/slide-4.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: 最直接的交流 &amp; 沟通造就
    title:
      klass: bottom-to-top
      text: 最漂亮的文书
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: 服务特色
          link_to: services.html
        - text: 联系我们
          link_to: contact.html
  - bg: images/@stock/slide-5.jpg
    small_title:
      klass: bottom-to-top
      text: 分阶段付款保障您的
    title:
      klass: bottom-to-top
      text: 申请质量 &amp; 风险
    buttons:
      klass: bottom-to-top
      items:
		- klass: boxed
          text: 了解更多
          link_to: services.html
        - text: 联系我们
          link_to: contact.html

services:
  - icon: trophy
    title: 发布招生信息（免费）
    desc: 我们致力于提供研究生（硕士/博士）申请者实实在在的有用信息。
  - icon: cogs
    title: 文书制作与润色
    desc: 包括Personal Statement, Curriculum Vitae,Recommendation Letter, Research Proposal（PhD项目）等，我们将安排我们精英团队中对应专业的PhD一对一负责您的文书润色服务，我们团队的PhD全部都是DIY申请拿到全奖的申请专家，确保您的文书质量，让您拥有能令对方学校录取委员会眼前一亮的文书材料。
  - icon: pagelines
    title: 选校与选导师
    desc: 我们将根据学生的研究背景，教授的funding情况，最优化的为学生选择学校和教授。 我们的“爪牙”分布在北美各大高校，拥有10余个专业第一手的教授offer信息，教授funding信息，帮助学生在赢在起跑线上。
  - icon: lock
    title: 套词与申请
    desc: 我们提供专业的套磁服务，100%由相应专业PhD亲自代你与教授邮件交流，为你塑造完美学霸形象。PhD导师将详细阅读教授的相关文献，在套词信中充分展现学术实力和学术契合度，为套牢教授提供最强大的技术支持。 因为没有人比博士们更能读paper：）不读paper的套词就是打水漂！

works:
  - image: images/@stock/Offer-1.jpg
    title: 付同学-伊利诺伊大学
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/Offer-2.jpg
    title: 易同学-阿尔伯塔大学全奖Offer
    link_to: portfolio-item.html
    klass: 蒋同学-南阳理工大学全奖Offer
    desc: Design &amp; Development
  - image: images/@stock/Offer-3.jpg
    title: 陆同学-弗罗里达大学计算机系
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/Offer-4.jpg
    title: 陈同学-Nebraska大学全奖Offer
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development


milestones:
  - icon: moon-o
    from: 0
    to: 28
    title: 成立周数
  - icon: file-text
    from: 0
    to: 44
    title: Offer来啦期数
  - icon: graduation-cap
    from: 0
    to: 150
    title: 发布招生职位
  - icon: thumbs-up
    from: 0
    to: 168
    title: 咨询人数
---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='海外硕博士团队' desc='北美博士帮帮忙的成员都是在校或是已经毕业工作的全奖博士们，我们来自美国，加拿大的各个TOP大学，致力于以自身的经验，帮助那些迷茫而又想出国深造、历练自己的有志青年们。' icon_class='fa fa-flask' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='一对一交流' desc='我们将安排我们精英团队中对应专业的PhD一对一负责您的申请工作。 我们承诺，只做一对一的服务，最大限度的保证申请的高效率和高质量。 我们的制度规定，导师不允许同时指导申请2位及以上同学，违者开除。' icon_class='fa fa-paper-plane-o' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='深入挖掘学生潜质' desc='综合分析您的学术背景为您量身打造研究背景提升方案。针对个人背景为您制订最合身的课外经历提升方案。' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='分阶段付款' desc='我们的服务费用由定金+报酬+奖金构成。 定金是申请费用的一半，报酬为申请费用的另一半，在拿到offer之后再交付。 奖金是在帮助同学拿到奖学金后，额外奖励给导师的一部分。 这样的付款方式，可以最大程度的保障申请的质量，导师会尽最大的努力为同学申请，同时同学也承担最小的风险。' icon_class='fa fa-comments-o' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="服务项目" %}
      <div class='spacing'></div>
      <p>
         我们提供留学申请链上的所有服务！
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/@stock/responsive.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class="spacing"></div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="成功案例" %}
      <div class="spacing"></div>
      <p>
        案例涉及隐私，这里仅提供几例征得申请人同意的案例以供参考！
      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="我们的团队" %}
      <div class='spacing'></div>
      <p>
        我们的团队都是由海外博士组成，以后说不定要当叫兽，所以就不放具体信息啦！找到我们自然就会认识啦！这里就列一列现有成员学校分布情况吧！
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="近期发布" %}
      <div class='spacing'></div>
      <p>
        近期发布的导师招生信息，网页更新不及时，关注我们的公众号可以便捷地定期收到导师招生信息哦！！！
      </p>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>更多信息</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>

<div class='full parallax' style='background-image: url(images/@stock/milestone-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="我们的成就" color="#fff" %}
      <div class='spacing'></div>
      <p class='centered-text' style='color: #ccc;'>
        我们是一个小众平台，可是我们也有我们的骄傲！短短的几个月内，我们已经定期发布了一系列导师招生信息，吸引了近六百名关注者，并为一百多人提供了免费或收费咨询！
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>
