---
layout: default
title: Offers
section_id: offers
offers:
  - image: images/@stock/work-1.jpg
    title: CS/EE/材料/生统
    link_to: offers-item.html
    klass: CSE CME STA
    desc: 计算机 &amp; 电子 &amp; 统计 &amp; 生物
  - image: images/@stock/work-1.jpg
    title: CS/EE/材料/生统
    link_to: offers-item.html
    klass: BAM BUS STA
    desc: 计算机 &amp; 电子 &amp; 统计 &amp; 生物
  - image: images/@stock/work-1.jpg
    title: CS/EE/材料/生统
    link_to: offers-item.html
    klass: BAM BUS
    desc: 计算机 &amp; 电子 &amp; 统计 &amp; 生物
  - image: images/@stock/work-1.jpg
    title: CS/EE/材料/生统
    link_to: offers-item.html
    klass: BUS STA
    desc: 计算机 &amp; 电子 &amp; 统计 &amp; 生物
  - image: images/@stock/work-1.jpg
    title: CS/EE/材料/生统
    link_to: offers-item.html
    klass: CME STA
    desc: 计算机 &amp; 电子 &amp; 统计 &amp; 生物
---


<div class='full parallax' style='background-image: url(images/@stock/home/universities.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Offer 来啦！" tagline="实力不如机遇，让小编悄悄告诉你第一手的留学信息！" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>所有</a>
          </li>
          <li>
            <a data-cat='CSE' href='#'>CS/EE</a>
          </li>
          <li>
            <a data-cat='CME' href='#'>材料/化工</a>
          </li>
          <li>
            <a data-cat='CIV' href='#'>土木</a>
          </li>
          <li>
            <a data-cat='STA' href='#'>统计</a>
          </li>
		  <li>
            <a data-cat='BAM' href='#'>生物/农林/医药</a>
          </li>
		  <li>
            <a data-cat='BUS' href='#'>商科</a>
          </li>
          <li>
            <a data-cat='else' href='#'>其他</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for offer in page.offers %}
          <li class="{{ offer.klass }}">
            <a href='{{ offer.link_to }}'>
              <img alt="" src="{{ offer.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ offer.title }}</h3>
                  <p>{{ offer.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>